{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container">
  <div id="vizContainer_01"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function initViz_01() {
    var containerDiv = document.getElementById("vizContainer_01"),
        url = "https://tableau.epfl.ch/views/hr/dean_details_01",
        options = {
            hideTabs: true,
            hideToolbar: true,
            'Sciper': '{{ sciper }}'
        };

    viz = new tableau.Viz(containerDiv, url, options);
}


$(document).ready(function(){
    initViz_01();
})
</script>
{% endblock%}


