{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
  <div id="vizContainer_01"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
    //var viz, sheet;
        function initViz_01() {
            var containerSize = $("#vizContainer_01").parent()[0].clientWidth;
            var containerDiv = document.getElementById("vizContainer_01"),
                url = "https://tableau.epfl.ch/views/hr/dean",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                    width: containerSize + 'px',
                    height: '2000px'
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }


    $(document).ready(function(){
        initViz_01();
    })

</script>

{% endblock%}
