{% extends 'base.html' %}
{% load static %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
  <div id="vizContainer_01"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/epfl_tableau_common.js' %}"></script>

<script type="text/javascript">
function initViz_01(tokenURI) {
    return new Promise((resolve, reject) => {
        get_tableau_token(tokenURI)
        .then((token) => {
            let containerDiv = $("#vizContainer_01");
            let containerSize = containerDiv.parent().the().clientWidth;
            let url = `{{ tableau_base_url }}${token}/views/teaching/dean`;
            let options = {
                hideTabs: true,
                hideToolbar: true,
                width: containerSize + 'px',
                height: '5000px',
                };
            let viz = new tableau.Viz(containerDiv.the(), url, options);
            resolve("sucessfully created vizualization");
            })
        .catch((message) => {
            reject(message);
        })
    });
}

$(document).ready(function(){
    let tokenURI = '{% url 'dashboard:get_tableau_token' %}';
    initViz_01(tokenURI)
    .then((message)=>{
        console.log(message);
    })
    .catch((message)=>{
        console.log(message);
    });
})
</script>

{% endblock%}
