{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container">
  <div id="vizContainer_01"></div>
  <div id="vizContainer_02"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

<script type="text/javascript">
function initViz_01() {
    var containerDiv = document.getElementById("vizContainer_01"),
        url = "https://tableau.epfl.ch/views/hr/vice-dean_summary_01",
        options = {
            hideTabs: true,
            hideToolbar: true,
        };

    viz = new tableau.Viz(containerDiv, url, options);
}

function initViz_02() {
    var containerDiv = document.getElementById("vizContainer_02"),
        url = "https://tableau.epfl.ch/views/hr/vice-dean_summary_02",
        options = {
            hideTabs: true,
            hideToolbar: true,
        };

    viz = new tableau.Viz(containerDiv, url, options);
}

$(document).ready(function(){
    initViz_01();
    initViz_02();
})
</script>
{% endblock%}

