{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container">
  <div id="vizContainer_details"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function initVizContainer_details() {
    var vizContainer_details_containerDiv = document.getElementById("vizContainer_details"),
    url = "https://tableau.epfl.ch/views/teaching/personal_details",
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: '800px',
        height: '2000px',
        'Institute': '{{ institute }}',
        onFirstInteractive: function() {
            viz_container_details_worksheets = viz_container_details.getWorkbook().getActiveSheet().getWorksheets();

            // Only highlight the person on the first worksheet.
            // The coordination across all worksheets is taken care of by a custom action on Tableau
            viz_container_details_worksheets[0].selectMarksAsync('Sciper', '{{ sciper }}', tableau.SelectionUpdateType.REPLACE);
            },
        };
    viz_container_details = new tableau.Viz(vizContainer_details_containerDiv, url, options);
}

$(document).ready(function(){
    initVizContainer_details();
})
</script>
{% endblock%}
