{% extends 'base.html' %}
{% load static %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li>
            <a class="nav-link" id="figures-tab" data-toggle="tab" href="#figures" role="tab" aria-controls="figures" aria-selected="true">Figures</a>
        </li>
    </ul>
    <div class="tab-content p-3">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            <div id="vizContainer_summary"></div>
        </div>
        <div class="tab-pane fade" id="figures" role="tabpanel" aria-labelledby="figures-tab">
            <div id="vizContainer_figures"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/epfl_tableau_common.js' %}"></script>

<script type="text/javascript">
function initViz_summary(tokenURI, vizWidth) {
    return new Promise((resolve, reject) => {
        get_tableau_token(tokenURI)
        .then((token) => {
            let containerDiv = $("#vizContainer_summary");
            let url = `{{ tableau_base_url }}${token}/views/space/institute_summary`;
            let options = {
                hideTabs: true,
                hideToolbar: true,
                width: vizWidth + 'px',
                height: '2000px',
                };
            let viz = new tableau.Viz(containerDiv.the(), url, options);
            resolve("sucessfully created vizualization");
            })
        .catch((message) => {
            reject(message);
        })
    });
}

function initViz_figures(tokenURI, vizWidth) {
    return new Promise((resolve, reject) => {
        get_tableau_token(tokenURI)
        .then((token) => {
            let containerDiv = $("#vizContainer_figures");
            let url = `{{ tableau_base_url }}${token}/views/space/institute_figures`;
            let options = {
                hideTabs: true,
                hideToolbar: true,
                width: vizWidth + 'px',
                height: '2000px',
                'Institute': '{{ institute }}'
                };
            let viz = new tableau.Viz(containerDiv.the(), url, options);
            resolve("sucessfully created vizualization");
            })
        .catch((message) => {
            reject(message);
        })
    });
}

$(document).ready(function(){
    let tokenURI = '{% url 'dashboard:get_tableau_token' %}';
    let vizWidth = $("#vizContainer_summary").parent().the().clientWidth;

    Promise.all([
        initViz_summary(tokenURI, vizWidth),
        initViz_figures(tokenURI, vizWidth)
    ]);
})
</script>

{% endblock%}
