{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li>
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
        </li>
        <li>
            <a class="nav-link" id="figures-tab" data-toggle="tab" href="#figures" role="tab" aria-controls="figures" aria-selected="true">Figures</a>
        </li>
    </ul>
    <div class="tab-content p-3">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            <div id="vizContainer_summary"></div>
        </div>
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div id="vizContainer_details"></div>
        </div>
        <div class="tab-pane fade" id="figures" role="tabpanel" aria-labelledby="figures-tab">
            <div id="vizContainer_figures"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function initViz_summary() {
    // Calculates the width of the parent container so the vizualization takes the full width of the screen
    // the minus 40 pixels is here to take into account the margins and padding to the parent tab
    var containerSize = $("#vizContainer_summary").parents('div.container-full')[0].clientWidth - 40;

    var containerDiv = document.getElementById("vizContainer_summary"),
        url = "https://tableau.epfl.ch/views/teaching/institute_summary",
        options = {
            hideTabs: true,
            hideToolbar: true,
            width: containerSize + 'px',
            height: '2000px',
            'Institute': '{{ institute }}'
        };

    viz = new tableau.Viz(containerDiv, url, options);
}

function initViz_details() {
    // Calculates the width of the parent container so the vizualization takes the full width of the screen
    // the minus 40 pixels is here to take into account the margins and padding to the parent tab
    var containerSize = $("#vizContainer_details").parents('div.container-full')[0].clientWidth - 40;

    var containerDiv = document.getElementById("vizContainer_details"),
        url = "https://tableau.epfl.ch/views/teaching/institute_details",
        options = {
            hideTabs: true,
            hideToolbar: true,
            width: containerSize + 'px',
            height: '2000px',
            'Institute': '{{ institute }}'
        };

    viz = new tableau.Viz(containerDiv, url, options);
}

function initViz_figures() {
    // Calculates the width of the parent container so the vizualization takes the full width of the screen
    // the minus 40 pixels is here to take into account the margins and padding to the parent tab
    var containerSize = $("#vizContainer_figures").parents('div.container-full')[0].clientWidth - 40;

    var containerDiv = document.getElementById("vizContainer_figures"),
        url = "https://tableau.epfl.ch/views/teaching/institute_figures",
        options = {
            hideTabs: true,
            hideToolbar: true,
            width: containerSize + 'px',
            height: '2000px',
            'Institute': '{{ institute }}'
        };

    viz = new tableau.Viz(containerDiv, url, options);
}

$(document).ready(function(){
initViz_summary();
initViz_details();
initViz_figures();
})

</script>

{% endblock%}
