{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
  <div id="vizContainer_01"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function get_tableau_token(){
    var token = '';
    endpoint = '{% url 'dashboard:get_tableau_token' %}';
    $.ajax({
        url: endpoint,
        async: false,
        complete: function(jqXHR, textStatus){
            token= jqXHR.responseText;
        },
    });

    return token;
}

function initViz_01() {
    var token = get_tableau_token();

    var containerSize = $("#vizContainer_01").parent()[0].clientWidth;
    var containerDiv = document.getElementById("vizContainer_01"),
        url = `{{ tableau_base_url }}${token}/views/hr/dean`,
        options = {
            hideTabs: true,
            hideToolbar: true,
            width: containerSize + 'px',
            height: '2000px'
        };

    viz = new tableau.Viz(containerDiv, url, options);
}


$(document).ready(function(){
    initViz_01();
})
</script>

{% endblock%}
