{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container">
  {% comment %} <p>level: {{ level }}</p>
  {% if role %}
  <p>role: {{ role }}</p>
  {% endif %}
  {% if institute %}
  <p>institute: {{ institute }}</p>
  {% endif %}
  {% if sciper %}
  <p>sciper: {{ sciper }}</p>
  {% endif %}
  <p>category: {{ category }}</p>
  <p>subcategory: {{ subcategory }}</p> {% endcomment %}
  <div id="vizContainer_01" style="width:800px; height:700px;"></div>
  <div id="vizContainer_02" style="width:800px; height:700px;"></div>
  <div id="vizContainer_03" style="width:800px; height:700px;"></div>
  <div id="vizContainer_04" style="width:800px; height:700px;"></div>
  <div id="vizContainer_05" style="width:800px; height:700px;"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
    //var viz, sheet;
        function initViz_01() {
            var containerDiv = document.getElementById("vizContainer_01"),
                url = "https://tableau.epfl.ch/views/teaching/dean_summary_01",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

        function initViz_02() {
            var containerDiv = document.getElementById("vizContainer_02"),
                url = "https://tableau.epfl.ch/views/teaching/dean_summary_02",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

        function initViz_03() {
            var containerDiv = document.getElementById("vizContainer_03"),
                url = "https://tableau.epfl.ch/views/teaching/dean_summary_03",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

        function initViz_04() {
            var containerDiv = document.getElementById("vizContainer_04"),
                url = "https://tableau.epfl.ch/views/teaching/dean_summary_04",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

        function initViz_05() {
            var containerDiv = document.getElementById("vizContainer_05"),
                url = "https://tableau.epfl.ch/views/teaching/dean_summary_05",
                options = {
                    hideTabs: true,
                    hideToolbar: true,
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

    $(document).ready(function(){
        initViz_01();
        initViz_02();
        initViz_03();
        initViz_04();
        initViz_05();
    })

</script>

{% endblock%}
