<div class="breadcrumb-container">
    <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">
                    <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-home"></use>
                        </svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="#">Schools</a></li>
            <li class="breadcrumb-item active" aria-current="page">STI</li>
        </ol>
    </nav>
</div>
