<div class="breadcrumb-container">
    <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="https://www.epfl.ch" target="_blank">
                    <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-home"></use>
                        </svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="https://www.epfl.ch/schools/" target="_blank">Schools</a></li>
            <li class="breadcrumb-item"><a href="https://sti.epfl.ch" target="_blank">STI</a></li>
            <li class="breadcrumb-item active" aria-current="page">Faculty dashboards</li>
        </ol>
    </nav>
</div>
