{% load dashboards_menus_extras %}
<aside class="nav-aside-wrapper">
    <nav id="nav-aside" class="nav-aside" role="navigation" aria-describedby="nav-aside-title">
        <h2 class="h5 sr-only-xl">On the same topic</h2>
        <ul>
            <li><a href="{% url 'dashboard:index' %}">About</a></li>
            {# Faculty block #}
            {% get_section_flag "faculty" as display_faculty_flag %}
            {% if display_faculty_flag %}
                <li><a>Faculty</a>
                    <ul>
                        {% get_category_flag "faculty" None "teaching" as display_faculty_teaching_flag %}
                        {% if display_faculty_teaching_flag %}<li><a  href="{% url 'dashboard:faculty_view' 'dean' 'teaching' %}">Teaching</a></li>{% endif %}

                        {% get_category_flag "faculty" None "finance" as display_faculty_finance_flag %}
                        {% if display_faculty_finance_flag %}<li><a href="{% url 'dashboard:faculty_view' 'dean' 'finance' %}">Finance</a></li>{% endif %}

                        {% get_category_flag "faculty" None "hr" as display_faculty_hr_flag %}
                        {% if display_faculty_hr_flag %}<li><a href="{% url 'dashboard:faculty_view' 'dean' 'hr' %}">Human Resources</a></li>{% endif %}

                        {% get_category_flag "faculty" None "space" as display_faculty_space_flag %}
                        {% if display_faculty_space_flag %}<li><a href="{% url 'dashboard:faculty_view' 'dean' 'space' %}">Space</a></li>{% endif %}
                    </ul>
                </li>
            {% endif %}

            {# Vice-dean view #}
            {% get_section_flag "associate-dean" as display_associate_dean_flag %}
            {% if display_associate_dean_flag %}
                <li><a>Faculty (associate-deans)</a>
                    <ul>
                        {% get_category_flag "associate-dean" None "teaching" as display_category_flag %}
                        {% if display_category_flag %}<li><a  href="{% url 'dashboard:faculty_view' 'associate-deans' 'teaching' %}">Teaching</a></li>{% endif %}

                        {% get_category_flag "associate-dean" None "finance" as display_category_flag %}
                        {% if display_category_flag %}<li><a href="{% url 'dashboard:faculty_view' 'associate-deans' 'finance' %}">Finance</a></li>{% endif %}

                        {% get_category_flag "associate-dean" None "hr" as display_category_flag %}
                        {% if display_category_flag %}<li><a href="{% url 'dashboard:faculty_view' 'associate-deans' 'hr' %}">Human Resources</a></li>{% endif %}

                        {% get_category_flag "associate-dean" None "space" as display_category_flag %}
                        {% if display_category_flag %}<li><a href="{% url 'dashboard:faculty_view' 'associate-deans' 'space' %}">Space</a></li>{% endif %}
                    </ul>
                </li>
            {% endif %}

            {# Institutes block #}
            {% get_section_flag "institute" as display_institutes_flag %}
            {% if display_institutes_flag %}
                <li><a>Institutes</a>
                    <ul>
                        {% for key, value in INSTITUTES.items %}
                            {% get_sub_section_flag "institute" key as display_sub_section_flag %}

                            {% if display_sub_section_flag %}
                                <li><a>{{ value }}</a>
                                    <ul>
                                        {% get_category_flag "institute" key "teaching" as display_category_flag %}
                                        {% if display_category_flag %}<li><a href="{% url 'dashboard:institute_view' key 'teaching' %}">Teaching</a></li>{% endif %}

                                        {% get_category_flag "institute" key "finance" as display_category_flag %}
                                        {% if display_category_flag %}<li><a href="{% url 'dashboard:institute_view' key 'finance' %}">Finance</a></li>{% endif %}

                                        {% get_category_flag "institute" key "hr" as display_category_flag %}
                                        {% if display_category_flag %}<li><a href="{% url 'dashboard:institute_view' key 'hr' %}">Human Resources</a></li>{% endif %}

                                        {% get_category_flag "institute" key "space" as display_category_flag %}
                                        {% if display_category_flag %}<li><a href="{% url 'dashboard:institute_view' key 'space' %}">Space</a></li>{% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {# Personal block #}
            {% get_section_flag "personal" as display_personal_flag %}
            {% if display_personal_flag %}
                <li>
                    <a>Personal</a>
                    <ul>
                        <li><a>{{ request.user.last_name }}, {{ request.user.first_name }}</a>
                            <ul>
                                {% get_category_flag "personal" None "teaching" as display_category_flag %}
                                {% if display_category_flag %}<li><a href="{% url 'dashboard:personal_view' request.user.sciper 'teaching' %}">Teaching</a></li>{% endif %}

                                {% get_category_flag "personal" None "finance" as display_category_flag %}
                                {% if display_category_flag %}<li><a href="{% url 'dashboard:personal_view' request.user.sciper 'finance' %}">Finance</a></li>{% endif %}

                                {% get_category_flag "personal" None "hr" as display_category_flag %}
                                {% if display_category_flag %}<li><a href="{% url 'dashboard:personal_view' request.user.sciper 'hr' %}">Human Resources</a></li>{% endif %}

                                {% get_category_flag "personal" None "space" as display_category_flag %}
                                {% if display_category_flag %}<li><a href="{% url 'dashboard:personal_view' request.user.sciper 'space' %}">Space</a></li>{% endif %}
                            </ul>
                        </li>
                    </ul>
                </li>
           {% endif %}
        </ul>
    </nav>
    <div>
        <a  class="btn btn-primary btn-block" href="mailto:STIDashboard_Support@groupes.epfl.ch?subject=[stidashboards] help&body=url:{{ request.build_absolute_uri }}"><i class="fas fa-bullhorn"></i> Provide feedback</a>
    </div>
</aside>
