<ul aria-hidden="true" class="nav-header d-none d-xl-flex">
    <li id="menu-item-1">
        <a class="nav-item" href="https://www.epfl.ch/about/" target="_blank">About</a>
    </li>
    <li id="menu-item-2">
        <a class="nav-item" href="https://www.epfl.ch/education" target="_blank">Education</a>
    </li>
    <li id="menu-item-3">
        <a class="nav-item" href="https://www.epfl.ch/research" target="_blank">Research</a>
    </li>
    <li id="menu-item-4">
        <a class="nav-item" href="https://www.epfl.ch/innovation/" target="_blank">Innovation</a>
    </li>
    <li id="menu-item-5"  class="current-menu-item">
        <a class="nav-item" href="https://www.epfl.ch/schools/" target="_blank">Schools</a>
    </li>
    <li id="menu-item-6">
        <a class="nav-item" href="https://www.epfl.ch/campus/" target="_blank">Campus</a>
    </li>
</ul>
<nav class="nav-lang nav-lang-short ml-auto">
    <div class="avatar-teaser">
        <a class="avatar-teaser-img-placeholder" href="https://people.epfl.ch/{{ request.user.sciper }}" target="_blank">
            <img src="{{ request.user.picture_url|default_if_none:'/static/dashboard/img/user.png' }}">
        </a>
    <div class="avatar-teaser-body">
        <p>{{ request.user.last_name }}, {{ request.user.first_name|truncatewords:1 }}</p>
    </div>
    <div>&nbsp;
     <a  class="btn btn-primary btn-sm" href="mailto:STIDashboard_Support@groupes.epfl.ch?subject=[stidashboards] help&body=url:{{ request.build_absolute_uri }}"><i class="fas fa-medkit"></i> help</a>
    </div>
    </div>
</nav>

