<ul aria-hidden="true" class="nav-header d-none d-xl-flex">
    <li id="menu-item-1">
        <a class="nav-item" href="https://www.epfl.ch/about/" target="_blank">About</a>
    </li>
    <li id="menu-item-2">
        <a class="nav-item" href="https://www.epfl.ch/education" target="_blank">Education</a>
    </li>
    <li id="menu-item-3">
        <a class="nav-item" href="https://www.epfl.ch/research" target="_blank">Research</a>
    </li>
    <li id="menu-item-4">
        <a class="nav-item" href="https://www.epfl.ch/innovation/" target="_blank">Innovation</a>
    </li>
    <li id="menu-item-5"  class="current-menu-item">
        <a class="nav-item" href="https://www.epfl.ch/schools/" target="_blank">Schools</a>
    </li>
    <li id="menu-item-6">
        <a class="nav-item" href="https://www.epfl.ch/campus/" target="_blank">Campus</a>
    </li>
</ul>
