{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}Introduction{% endblock %}
{% block body_content%}
<div class="container">
    <div id="vizContainer" style="height:900px;"></div>

</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript"
	    src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>
<script type="text/javascript">
    var viz, sheet;

    var sciper='{{ current_user.sciper|safe }}'
    var managed_units = {{ managed_units|safe }}

    function initViz() {
        var containerDiv = document.getElementById("vizContainer"),
            url = "https://tableau.epfl.ch/views/STIfacultiesdashboard-Archibus/space",
            options = {
                "Year": "",
                hideTabs: true,
                hideToolbar: true,
                onFirstInteractive: function () {
                    sheet = viz.getWorkbook().getActiveSheet();
                    sheet.applyFilterAsync("Sigle Unité", managed_units, tableau.FilterUpdateType.REPLACE);
                }
            };

        viz = new tableau.Viz(containerDiv, url, options);
    }

    $(document).ready(function(){
        console.log("current_user (username): {{ current_user.username|safe }}")
        console.log("current_user (sciper): {{ current_user.sciper|safe }}")
        console.log("managed units: {{ managed_units|safe }}")
        initViz()
    })
    </script>
{% endblock%}
