{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li>
            <a class="nav-link" id="figures-tab" data-toggle="tab" href="#figures" role="tab" aria-controls="figures" aria-selected="true">Figures</a>
        </li>
    </ul>
    <div class="tab-content p-3">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            <div id="vizContainer_summary"></div>
        </div>
        <div class="tab-pane fade" id="figures" role="tabpanel" aria-labelledby="figures-tab">
            <div id="vizContainer_figures"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function get_tableau_token(){
    var token = '';
    endpoint = '{% url 'dashboard:get_tableau_token' %}';
    $.ajax({
        url: endpoint,
        async: false,
        complete: function(jqXHR, textStatus){
            token= jqXHR.responseText;
        },
    });

    return token;
}

function initVizContainer_summary() {
    var token = get_tableau_token();

    // Calculates the width of the parent container so the vizualization takes the full width of the screen
    // the minus 40 pixels is here to take into account the margins and padding to the parent tab
    var containerSize = $("#vizContainer_summary").parents('div.container-full')[0].clientWidth - 40;

    var vizContainer_summary_containerDiv = document.getElementById("vizContainer_summary"),
    url = `{{ tableau_base_url }}${token}/views/hr/personal_summary`,
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: containerSize + 'px',
        height: '2000px',
        "Sciper": '{{ sciper }}',
        };
    viz_container_summary = new tableau.Viz(vizContainer_summary_containerDiv, url, options);
}

function initVizContainer_figures() {
    var token = get_tableau_token();

    // Calculates the width of the parent container so the vizualization takes the full width of the screen
    // the minus 40 pixels is here to take into account the margins and padding to the parent tab
    var containerSize = $("#vizContainer_figures").parents('div.container-full')[0].clientWidth - 40;

    var vizContainer_figures_containerDiv = document.getElementById("vizContainer_figures"),
    url = `{{ tableau_base_url }}${token}/views/hr/personal_figures`,
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: containerSize + 'px',
        height: '2000px',
        "Sciper": '{{ sciper }}',
        };
    viz_container_figures = new tableau.Viz(vizContainer_figures_containerDiv, url, options);
}

$(document).ready(function(){
    initVizContainer_summary();
    initVizContainer_figures();
})
</script>

{% endblock%}
