{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container-full">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li>
            <a class="nav-link" id="figures-tab" data-toggle="tab" href="#figures" role="tab" aria-controls="figures" aria-selected="true">Figures</a>
        </li>
    </ul>
    <div class="tab-content p-3">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            <div id="vizContainer_summary_01"></div>
            <div id="vizContainer_summary_02"></div>
        </div>
        <div class="tab-pane fade" id="figures" role="tabpanel" aria-labelledby="figures-tab">
            <div id="vizContainer_figures"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function get_tableau_token(){
    var token = '';
    endpoint = '{% url 'dashboard:get_tableau_token' %}';
    $.ajax({
        url: endpoint,
        async: false,
        complete: function(jqXHR, textStatus){
            token= jqXHR.responseText;
        },
    });

    return token;
}

function get_tab_width(reference_element_id){
    return $(reference_element_id).parent()[0].clientWidth
}

function initVizContainer_summary_01(tab_width) {
    var token = get_tableau_token();

    var vizContainer_summary_01_containerDiv = document.getElementById("vizContainer_summary_01"),
    url = `{{ tableau_base_url }}${token}/views/space/personal_summary_01`,
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: tab_width + 'px',
        height: '300px',
        "Institute": '{{ institute }}',
        onFirstInteractive: function() {
            viz_container_summary_01.getWorkbook().getActiveSheet().selectMarksAsync('Sciper', '{{ sciper }}', tableau.SelectionUpdateType.REPLACE);
        },
        };
    viz_container_summary_01 = new tableau.Viz(vizContainer_summary_01_containerDiv, url, options);
}

function initVizContainer_summary_02(tab_width) {
    var token = get_tableau_token();

    var vizContainer_summary_02_containerDiv = document.getElementById("vizContainer_summary_02"),
    url = `{{ tableau_base_url }}${token}/views/space/personal_summary_02`,
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: tab_width + 'px',
        height: '300px',
        "Institute": '{{ institute }}',
        'Sciper': '{{ sciper }}',
        };
    viz_container_summary_02 = new tableau.Viz(vizContainer_summary_02_containerDiv, url, options);
}

function initVizContainer_figures(tab_width) {
    console.log("Getting an authentication token for the figures VIZ");
    var token = get_tableau_token();

    var vizContainer_figures_containerDiv = document.getElementById("vizContainer_figures");
    url = `{{ tableau_base_url }}${token}/views/space/personal_figures`;
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: tab_width + 'px',
        height: '2000px',
        "Sciper": '{{ sciper }}',
        };

    viz_container_figures = new tableau.Viz(vizContainer_figures_containerDiv, url, options);
}

$(document).ready(function(){
    var tab_width = get_tab_width("#vizContainer_summary_01");

    initVizContainer_summary_01(tab_width);
    initVizContainer_summary_02(tab_width);
    initVizContainer_figures(tab_width);
})
</script>

{% endblock%}
