{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container">
    <div id="vizContainer_figures"></div>
</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function initVizContainer_figures() {
    var vizContainer_figures_containerDiv = document.getElementById("vizContainer_figures"),
    url = "https://tableau.epfl.ch/views/space/personal_figures",
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: '800px',
        height: '2000px',
        "Sciper": '{{ sciper }}',
        };
    viz_container_figures = new tableau.Viz(vizContainer_figures_containerDiv, url, options);
}

$(document).ready(function(){
    initVizContainer_figures();
})

</script>

{% endblock%}
