{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{% endblock %}
{% block body_content%}
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li>
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
        </li>
        <li>
            <a class="nav-link" id="figures-tab" data-toggle="tab" href="#figures" role="tab" aria-controls="figures" aria-selected="true">Figures</a>
        </li>
    </ul>
    <div class="tab-content p-3">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            <div id="vizContainer_summary"></div>
        </div>
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div id="vizContainer_details"></div>
        </div>
        <div class="tab-pane fade" id="figures" role="tabpanel" aria-labelledby="figures-tab">
            <div id="vizContainer_figures"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts_end_of_page_content %}
<script type="text/javascript" src="{% static 'dashboard/js/tableau-2.min.js' %}"></script>

<script type="text/javascript">
function initVizContainer_summary() {
    var vizContainer_summary_containerDiv = document.getElementById("vizContainer_summary"),
    url = "https://tableau.epfl.ch/views/teaching/personal_summary",
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: '800px',
        height: '2000px',
        'Institute': '{{ institute }}',
        onFirstInteractive: function() {
            viz_container_summary_worksheets = viz_container_summary.getWorkbook().getActiveSheet().getWorksheets();

            // Only highlight the person on the first worksheet.
            // The coordination across all worksheets is taken care of by a custom action on Tableau
            viz_container_summary_worksheets[0].selectMarksAsync('Sciper', '{{ sciper }}', tableau.SelectionUpdateType.REPLACE);
            },
        };
    viz_container_summary = new tableau.Viz(vizContainer_summary_containerDiv, url, options);

    viz_container_summary.addEventListener(tableau.TableauEventName.FILTER_CHANGE, function(filter){
        console.log('re-highlighting the dashboard because the filters have changed');
        viz_container_summary_worksheets[0].selectMarksAsync('Sciper', '{{ sciper }}', tableau.SelectionUpdateType.REPLACE);
    });
}

function initVizContainer_details() {
    var vizContainer_details_containerDiv = document.getElementById("vizContainer_details"),
    url = "https://tableau.epfl.ch/views/teaching/personal_details",
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: '800px',
        height: '2000px',
        'Institute': '{{ institute }}',
        onFirstInteractive: function() {
            viz_container_details_worksheets = viz_container_details.getWorkbook().getActiveSheet().getWorksheets();

            // Only highlight the person on the first worksheet.
            // The coordination across all worksheets is taken care of by a custom action on Tableau
            viz_container_details_worksheets[0].selectMarksAsync('Sciper', '{{ sciper }}', tableau.SelectionUpdateType.REPLACE);
            },
        };
    viz_container_details = new tableau.Viz(vizContainer_details_containerDiv, url, options);

    viz_container_details.addEventListener(tableau.TableauEventName.FILTER_CHANGE, function(filter){
        console.log('re-highlighting the details dashboard because the filters have changed.');
        viz_container_details_worksheets[0].selectMarksAsync('Sciper', '{{ sciper }}', tableau.SelectionUpdateType.REPLACE);
    });
}

function initVizContainer_figures() {
    var vizContainer_figures_containerDiv = document.getElementById("vizContainer_figures"),
    url = "https://tableau.epfl.ch/views/teaching/personal_figures",
    options = {
        hideTabs: true,
        hideToolbar: true,
        width: '800px',
        height: '2000px',
        'Sciper': '{{ sciper }}',
        };
    viz_container_figures = new tableau.Viz(vizContainer_figures_containerDiv, url, options);
}

$(document).ready(function(){
    initVizContainer_summary();
    initVizContainer_details();
    initVizContainer_figures();
})

</script>

{% endblock%}
